{% extends "layout.html" %}
{% block body %}
  <form action="{{ url_for('add_guest') }}" method=post class=add-booking>
    <dl>
      <dt>Name
      <dd><input type=text size=30 name=guestname>
      <dt>Address
      <dd><textarea name=address rows=5 cols=40></textarea>
      <dd><input type=submit value=Add Guest>
    </dl>
  </form>
  <ul class=entries>
  <h2>List of guests</h2>
  {% for guest in guests %}
    <li>{{ guest.guestName }}, {{ guest.guestAddress|safe }}
  {% else %}
    <li><em>Unbelievable.  No guests here so far</em>
  {% endfor %}
  </ul>
{% endblock %}